@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  @apply bg-neutral-900 text-slate-100 w-screen overflow-x-hidden;
}

#__next {
  height: calc(100vh - 80px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish";
}

.fade {
  animation: FadeIn 300ms ease-in;
}

.stroke {
  padding-bottom: 15px;
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &::after {
    @apply bg-purple-300;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: ".";
    color: transparent;
    height: 1px;
    transition: all 0.5s;
  }

  &::before {
    transition: all 0.5s;
  }
}

.fancy-button {
  &::before,
  &::after {
    right: 0;
    bottom: 0;
    background-color: #a855f7;
  }

  &::before {
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
  }

  &::after {
    width: 2px;
    height: 100%;
    transform: translateY(100%);
  }

  &,
  & > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
  }

  & > span {
    display: flex;
    padding: 10px;
  }

  &::before,
  &::after,
  & > span::before,
  & > span::after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }

  span::before,
  span::after {
    left: 0;
    top: 0;
    background-color: #a855f7;
  }

  span::before {
    width: 100%;
    height: 2px;
    transform: translateX(100%);
  }

  span::after {
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
  }

  &:hover::before,
  &:hover::after,
  &:hover > span::before,
  &:hover > span::after {
    transform: translate(0, 0);
  }
}
