@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  @apply bg-neutral-900 text-slate-100;
}

#__next {
  height: calc(100vh - 80px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish";
}

.fade {
  animation: FadeIn 300ms ease-in;
}
